#products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

#home {
    font-family: 'Times New Roman', Times, serif;
}

#newArrival{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

@media only screen and (max-width:576px) {
    #products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }
    #newArrival{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }
}